
     <div class="container text-center animate__animated animate__fadeIn animate__delay-0.5s">
          <div class="row">
               <div class="row">
                    <div class="col">
                         <app-search-bar (eventEmitter)="eventReceiver($event)"></app-search-bar>
                         <span class="ms-3 mr-3"></span>
                         <app-filter-search (eventEmitter)="eventReceiver2($event)"></app-filter-search>
                    </div>
               </div>
               
               <div [ngClass]="(isPokemon)? 'col-12 centerDiv' : 'col-12 col-lg-3 col-sm-6'"
                    
                    *ngFor="let pokemon of pokemons; let i=index">

                    <div>
                         <mat-card class="example-card mt-3"
                                   [ngClass]="(isPokemon)? 'minicard' : ''">
                              <mat-card-header [ngClass]="(isPokemon)? 'minicard' : ''">
                                   <div mat-card-avatar class="example-header-image"># {{pokemon.id}}</div>
                                   <mat-card-title>{{pokemon.name | titlecase}}</mat-card-title>
                              </mat-card-header>
                              <img mat-card-image [src]="pokemon.img"
                                   [ngClass]="(isPokemon)? 'minicard' : ''">
                              <mat-card-content [ngClass]="(isPokemon)? 'minicard' : ''">
                                   <app-type-card [type]="pokemon.type"></app-type-card>
                              </mat-card-content>

                              <mat-card-actions align="end" [ngClass]="(isPokemon)? 'minicard' : ''">
                                   <button matTooltip="Información sobre {{pokemon.name | titlecase}}"
                                           mat-mini-fab color="primary"
                                           (click)="getPokemon(i+1)">
                                        <mat-icon>catching_pokemon</mat-icon>
                                        
                                      </button>
                                 </mat-card-actions>
                              
                         </mat-card>
                    </div>
               </div>
               <div class="row">
                    <div class="col-12 mb-3" *ngIf="!isPokemon && !isFilter">
                         <mat-paginator (page)="handlePageEvent($event)"
                                        [length]="length" [pageSizeOptions]="[10, 25, 50]" aria-label="Select page"
                                        class="mt-3">
                         </mat-paginator>

                    </div>
               </div>
               
          </div>
     </div>

    